@CHARSET "UTF-8";

.red-text{
	color: #f00;
}

.btn{
	margin: 9px;
}

h2{
	float: left;
}

.radiobtns + label{
	padding: 5px !important
}

.checkboxes + label {
	padding-left: 0px !important;
	padding-right: 30px;
}